<h1>Insert the form to create a new instance of your model.</h1>
<form action = "/workouts" method = "post">
exercise: <input type = "text" name = "exercise">
duration: <input type = "number" name = "duration">
<input type = "submit">
</form>
